doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    title
      block title
    // build:css css/vendor.min.css
    // bower:css
    // endbower
    // endbuild
    // build:css css/fonts.min.css
    // endbuild
    // build:css css/main.min.css
    // endbuild
    // Modernizr
    script(src='bower/modernizr/modernizr.js')