mixin breadcrumbs(className, items, activeIndex)
  ul(class="#{className}__list")
    each item, index in items
      li(class="#{className}__item" + ((activeIndex == index) ? " #{className}__item_active" : ''))
        a(href="#" class="#{className}__link")= item 
        if activeIndex != index
          span 
            | >