-
  var samsungGalS3 = {
    'photo1':' ',
    'photo2':' ',
    'photo3':' ',
    'title':'Samsung GT-19301I GALAXY S 3',
    'simType':'Micro-SIM',
    'simNum':1,
    'color':'Белый',
    'os':'Android',
    'avail3G':'Есть',
    'avail4G':'Нет',
    'gps':'Есть',
    'stars':4,
    'price':'11 290 &#8381;',
    'available':true
  }

-
  var microsoftLumia640 = {
    'photo1':' ',
    'photo2':' ',
    'photo3':' ',
    'title':'Microsoft Lumia 640 RM-1077',
    'simType':'Micro-SIM',
    'simNum':2,
    'color':'Белый',
    'os':'Windos Phone',
    'avail3G':'Есть',
    'avail4G':'Нет',
    'gps':'A-GPS',
    'stars':4,
    'price':'10 990 &#8381;',
    'available':true
  }

-
  var archos50Oxygen = {
    'photo1':' ',
    'photo2':' ',
    'photo3':' ',
    'title':'Archos 50 Oxygen Plus',
    'simType':'Micro-SIM',
    'simNum':2,
    'color':'Серый',
    'os':'Android',
    'avail3G':'Есть',
    'avail4G':'Нет',
    'gps':'Есть',
    'stars':4,
    'price':'9 900 &#8381;',
    'available':true
  }

-
  var philipsS398 = {
    'photo1':' ',
    'photo2':' ',
    'photo3':' ',
    'title':'Philips S398 Black',
    'simType':'Micro-SIM',
    'simNum':2,
    'color':'Черный',
    'os':'Android',
    'avail3G':'Есть',
    'avail4G':'Нет',
    'gps':'Есть',
    'stars':4,
    'price':'8 990 &#8381;',
    'available':true
  }

-
  var microsoftLumia430 = {
    'photo1':' ',
    'photo2':' ',
    'photo3':' ',
    'title':'Microsoft Lumia 430 RM-10',
    'simType':'Micro-SIM',
    'simNum':2,
    'color':'Черный',
    'os':'Windows Phone',
    'avail3G':'Есть',
    'avail4G':'Нет',
    'gps':'A-GPS',
    'stars':4,
    'price':'5 390 &#8381;',
    'available':true
  }

-
  var senseitL301 = {
    'photo1':' ',
    'photo2':' ',
    'photo3':' ',
    'title':'Senseit L301 Black',
    'simType':'Micro-SIM',
    'simNum':2,
    'color':'Черный',
    'os':'Android',
    'avail3G':'Есть',
    'avail4G':'Нет',
    'gps':'Есть',
    'stars':4,
    'price':'4 990 &#8381;',
    'available':true
  }

-
  var highscreenWin = {
    'photo1':' ',
    'photo2':' ',
    'photo3':' ',
    'title':'HIGHSCREEN WinWin Black',
    'simType':'Micro-SIM',
    'simNum':2,
    'color':'Черный',
    'os':'Windows Phone',
    'avail3G':'Есть',
    'avail4G':'Нет',
    'gps':'Есть',
    'stars':4,
    'price':'3 990 &#8381;',
    'available':true
  }

-
  var alcatelPixi = {
    'photo1':' ',
    'photo2':' ',
    'photo3':' ',
    'title':'Alcatel OT4013D PIXI 3 (2 SIM)',
    'simType':'Micro-SIM',
    'simNum':2,
    'color':'Белый',
    'os':'Android',
    'avail3G':'Есть',
    'avail4G':'Нет',
    'gps':'A-GPS',
    'stars':4,
    'price':'3 290 &#8381;',
    'available':true
  }

-
  var flyEra = {
    'photo1':' ',
    'photo2':' ',
    'photo3':' ',
    'title':'Fly IQ434 Era Nano 5',
    'simType':'Micro-SIM',
    'simNum':2,
    'color':'Черный',
    'os':'Android',
    'avail3G':'Нет',
    'avail4G':'Нет',
    'gps':'Нет',
    'stars':4,
    'price':'1 790 &#8381;',
    'available':true
  }

- var products = [samsungGalS3, microsoftLumia640, archos50Oxygen, philipsS398, microsoftLumia430, senseitL301, highscreenWin, alcatelPixi, flyEra]

